- set_meta_tags title: "Feed"
.container.mt-5.mb-5
  .row
    .col-md-6
      = render_activities(@activities, locals: { active_user: current_user}, layout: :activity)
  .row
    .col-sm-12
      = paginate(@activities)
