.media.text-right
  .media-body
    %p.chat_bubble.chat_bubble_mine
      = message.text
    %p.chat_time
      %small.text-muted
        = time_ago_in_words(message.created_at)
        ago
        - if message.is_read?
          ·
          Read
