.media
  -# message.read_by!(current_user)

  = image_tag(model_avatar(message.user.avatar, 200, true), width: 52, class: 'd-flex mr-3 rounded-circle')
  .media-body
    %p
      = message.text
    %small.text-muted
      = time_ago_in_words(message.created_at)
      ago
      - read_activities = message.activities.where(key: MessageReadActivity::KEY)
      - if read_activities.any?
        ·
        Read

%hr
