= title "Sign Up"
.container.mt-5.mb-5
  .row
    .col-sm-6.offset-sm-3.col-lg-4.offset-lg-4
      / %h2 Sign up

      = link_to omniauth_authorize_path(resource, 'facebook'), class: "btn btn-primary btn-lg btn-block" do
        %i.fa.fa-facebook-square{"aria-hidden" => "true"}
        Sign Up with Facebook

      / = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      /   = devise_error_messages!
      /   .form-group
      /     = f.label :email
      /     = f.email_field :email, autofocus: true, class: 'form-control'
      /   .form-group
      /     = f.label :password
      /     = f.password_field :password, autocomplete: "off", class: 'form-control'
      /     - if @minimum_password_length
      /       %small.form-text.text-muted
      /         We'll never share your email with anyone else.
        
      /   = f.submit "Sign up", class: "btn btn-primary btn-block"
      / %hr
      / = render "devise/shared/links"
