<font class="mob_title2" face="'Source Sans Pro', sans-serif" color="#5E5E5E" style="font-size: 36px; line-height: 45px; font-weight: 300;">
  <span class="mob_title2" style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #5E5E5E; font-size: 36px; line-height: 45px; font-weight: 300;">
    <%= text %>
  </span>
</font>