.col-sm-4.no-padding
  .list-group
  .row
    #custom-search-input
      .input-group.col-md-12
        %p
          Conversations
  .member_list
    %ul.list-unstyled
      = render @conversations
    - if @conversations.empty?
      %h5 No messages yet
