.col-sm-4.no-padding
  .list-group
  .row
    #custom-search-input
      .input-group.col-md-12
        %p
          Conversations
  .member_list
    %ul.list-unstyled#conversations
      = render partial: 'conversations/conversations', locals: {conversations: conversations, conversation_id: conversation_id}

    - if conversations.empty?
      %h5 No messages yet
