.container.content_container
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Newsletters", newsletters_path
    %li.breadcrumb-item.active
      Create
      
  %h1 Create Newsletter

  = render 'form'
