- job_referral = activity.trackable
- job = job_referral.job
= render partial: "/notifications/item", locals: {activity: activity, verb: "referred you for", object: job.name, link: url_for(job_referral)}