- if @job.referred_user(user)
  = link_to "Referred", "#", class: "btn btn-sm btn-warning", disabled: true 
- else
  = link_to "Refer", refer_job_path(@job, user: user.id), class: "btn btn-sm btn-primary", remote: true
