= title "Members"
.container.mt-5.mb-5
  
  %h1
    Members
  %p
    %small
      = pluralize(User.all.count, "member")

  = render partial: "users/user", collection: @users 

  = paginate @users


  
