- appointment = activity.trackable
- user_name = appointment.user.present? ? "" : "#{appointment.user_name} "
= render partial: "/notifications/item", locals: {activity: activity, verb: "#{user_name}canceled appointment", object: appointment.name, link: url_for(appointment)}