- appointment = activity.trackable

= render partial: "/notifications/item", locals: {activity: activity, verb: "completed appointment", object: appointment.name, link: url_for(appointment.reviewed? ? appointment : new_appointment_review_path(appointment_id: appointment.id) )}