- appointment = activity.trackable
- new_start_time = activity.parameters[:new_start_time]
- link = url_for(appointment)

- appointment = activity.trackable

- object = "#{appointment.name} to #{local_time(new_start_time, "%A %B %e %l:%M %P")}".html_safe
= render partial: "/notifications/item", locals: {activity: activity, verb: "#{appointment.user_name} rescheduled appointment", object: object, link: url_for(appointment)}
