- like = activity.trackable
- likeable = like.likeable

- if like.likeable_type == "UserBadge"
  - link = link_to like.likeable_name, user_path(likeable.user)
- elsif like.likeable_type == "Comment"
  - link = link_to(truncate(like.likeable.commentable.name,length:40), like.likeable.commentable)
- else
  - link = link_to likeable.name, likeable

= render partial: "/public_activity/header", locals: {activity: activity, text: "liked #{link}"}