.jumbotron.mb-0
  .container
    %h2.black
      HireClub
    %h1.display-3 Help Friends Find Jobs
    %p.lead.mt-5
      HireClub is a invite only job referral network.
    %p.mt-5
      %a.btn.btn-primary.btn-lg{:href => "http://facebook.com/groups/hireclub", :role => "button"} Apply To Join »