- following = activity.trackable
- if following == current_user
  - object = "you"
  - link = url_for(activity.owner)
- else
  - object = following.display_name
  - link = url_for(following)

= render partial: "/notifications/item", locals: {activity: activity, verb: "followed", object: object, link: link, action_link: link_to_follow_user(activity.owner, current_user)}