- invite = activity.trackable
= render partial: "/notifications/item", locals: {activity: activity, verb: "viewed your invite", object: "", link: url_for(activity.owner),action_link: link_to_invite(invite)}
