<table cellpadding="0" cellspacing="0" border="0" width="88%" style="width: 88% !important; min-width: 88%; max-width: 88%;">
   <tr>
      <td align="center" valign="top">
         <div style="height: 40px; line-height: 40px; font-size: 38px;">&nbsp;</div>
         <a href="ht" target="_blank" style="display: block; max-width: 192px;">
            <img src="<%= image_url('email_logo.png') %>" alt="img" width="192" border="0" style="display: block; width: 192px;" />
         </a>
         <div class="top_pad2" style="height: 70px; line-height: 70px; font-size: 68px;">&nbsp;</div>
      </td>
   </tr>
</table>