/ - appointment = activity.trackable.appointment


/ = render partial: "/notifications/item", locals: {activity: activity,verb: " was assigned to appointment ", object: appointment.name, link: url_for(appointment)}