.jumbotron.jumbotron-fluid{style: "background-color: #6070e9;"}
  .container
    %h1.display-3.text-white= title "HireClub Heroes"
    %p.lead.text-white Heroes help keep HireClub alive and show your dedication to our amazing community.
    %p.lead.text-white For just $5 a month, you can be a HireClub Hero.
    / %hr.my-4/
    / %p.text-white HireClub has 42 Heroes who gave a total of $210 this month.
    %p.lead.mt-5
      %a.btn.btn-secondary.btn-lg{:href => new_subscription_path, :role => "button"} Become A Hero Today

