$font-family-sans-serif: "tt_normsregular","Avenir Next","Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin light-font {
  font-family: "tt_normslight", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin semibold-font {
  font-family: "tt_normsmedium", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  // -webkit-font-smoothing: antialiased;
}

@mixin regular-font {
  font-family: "tt_normsregular", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin bold-font {
  font-family: "tt_normsbold", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@mixin italic-font {
  font-family: "tt_normsitalic", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin black-font {
  font-family: "tt_normsextrabold", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

strong {
  @include bold-font;
}

em {
  @include italic-font;  
}

.letterspace {
  letter-spacing: 1px
}


.light {
  @include light-font;
}

.semi_bold {
  @include semibold-font;
}

.regular {
 @include regular-font; 
}

.bold {
  @include bold-font;
}

.black {
  @include black-font;
}

body {
  @include regular-font;
}

h1 {
  @include bold-font;
}

h2 {
  @include light-font;
  margin-bottom: 1rem;
}

h3 {
  @include bold-font;
}

h4 {
  @include semibold-font;
}

h5 {
  @include regular-font;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

h6 {
  @include bold-font;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

label {
  @include semibold-font; 
}
