// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "fonts";
@import "colors";

$alert-success-bg:      $brand-success;
$alert-success-text:    #FFF !default;

$link-hover-decoration: none !default;
$input-color-placeholder: #bbb;

$btn-font-weight:                600 !default;

$navbar-inverse-color: #FFF;

$badge-padding-x: .6rem;
$badge-padding-y: .4rem;



@import "bootstrap";
@import "bootstrap_overrides";
@import "typography";
@import "pages";
@import "users";
@import "projects";
@import "typeahead";
@import "formValidation.min";
@import "selectize";
@import "selectize.default";
@import "conversation";
@import "jquery.atwho";
@import "fontawesome-stars";
@import "bootstrap-datepicker";

.content_container {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.facebook_blue {
  color: #4e7ad9
}
.btn_facebook {
  background: #4e7ad9;
  border: #4e7ad9;
}

.btn_linkedin {
  background: #1178b3;
  border: #1178b3;
}

.btn_google {
  background: #ea4335;
  border: #ea4335;
}

#nav_search_form {
  flex-grow: 0.4;
}

#nav_search_input {
  border: none;
  border-radius: 99px;
  background-image: asset-url("icons/search.svg");
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
  font-family: $font-family-sans-serif;
  font-size: .8rem;
  flex-grow: 1;
}
.like_comment {
  display: inline;
}
.sub_nav {
  background: $gray-lightest;
}
.sub_nav .nav-pills > li {
  margin-right: 2px;
}
.sub_nav .nav-pills > li > a {
  color: $gray-light;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.sub_nav .nav-pills > li.active > a, .sub_nav .nav-pills > li.active > a:hover, .sub_nav .nav-pills > li.active > a:focus, .sub_nav .nav-pills > li > a:hover {
  background-color: $gray-lightest;
  border-bottom: 3px solid $brand-primary;
  color: $brand-primary;
  border-radius: 0;
}

.has-danger .form_image {
  border: solid 1px red;
}
.card-inverse {
  border: none;
}

// for pinning footer to bottom
body {
  min-height: 100vh; 
}

.flex-grow {
  flex: 1;
}
.star_rating {
  color: #EDB867;
}