// Custom bootstrap variables must be set or imported *before* bootstrap.

$font-family-sans-serif: "proxima-nova","Avenir Next","Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-primary: #6070E9;
$link-hover-decoration: none !default;
$input-color-placeholder: #bbb;

@import "bootstrap";
@import "bootstrap_overrides";
@import "typography";
@import "pages";
@import "users";
@import "projects";
@import "typeahead";

.facebook_blue {
  color: #4e7ad9
}
.btn_facebook {
  background: #4e7ad9;
  border: #4e7ad9;
}

.btn_linkedin {
  background: #1178b3;
  border: #1178b3;
}

.navbar-light .navbar-brand {
  font-weight: 700;
  font-size: 15px;
  color: $brand-primary;
}
#nav_search {
  border-radius: 99px;
  background-image: url("icons/search.svg");
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
  font-family: $font-family-sans-serif;
}