// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: rgb(234, 237, 243);
}
.home_banner {
  // background: url("https://images.unsplash.com/photo-1473207730345-6cb17f27bd46?dpr=2&auto=format&fit=crop&w=767&h=512&q=80&cs=tinysrgb&crop=");
  background: url("home_bg.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  h1, h2, .lead {
    color: white
  }
}
hr.inverse {
  border-top: 5px solid rgb(255,255,255);
  opacity: .4;
}