body {
  font-family: "proxima-nova","Avenir Next","Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  float: none;
  background: #fff url(none);
  padding: 1in;
}
.two_thirds {
  width: 66%;
  float: left;
}
.one_third {
  width: 33%;
  float: left;
}

section {
  margin-top: 28px;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #4A4A4A;
}
.text-muted {
  color: #9B9AAC;
}
.user_skill_year {
  text-align: right;
}