.delete_user_skills, .edit_user_skills, .edit_user_projects, .delete_user_projects {
   display: none;
}

.user_skill:hover .edit_user_skills { 
   display: inline;
}

.user_skill:hover .delete_user_skills { 
   display: inline;
}

.project:hover .edit_user_projects { 
   display: inline;
}

.project:hover .delete_user_projects { 
   display: inline;
}

.hover_primary {
  :hover {
    color: $brand-primary;
  }
}

.hover_danger {
  :hover {
    color: $brand-danger;
  }
}