.delete_user_skills, .edit_user_skills, .edit_user_projects, .delete_user_projects,.edit_user_milestones, .delete_user_milestones {
   display: none;
}

.user_skill:hover .edit_user_skills { 
   display: inline;
}

.user_skill:hover .delete_user_skills { 
   display: inline;
}

.project:hover .edit_user_projects { 
   display: inline;
}

.project:hover .delete_user_projects { 
   display: inline;
}

.user_milestone:hover .edit_user_milestones {
  display: inline; 
}

.user_milestone:hover .delete_user_milestones {
  display: inline; 
}
.milestone_description {
  display: none;
}
.user_milestone:hover .milestone_description {
  display: block; 
}

.hover_primary {
  :hover {
    color: $brand-primary;
  }
}

.hover_danger {
  :hover {
    color: $brand-danger;
  }
}