.col-sm-6.offset-sm-3
  %h1
    Confirm Transfer
  .row
    .col-6
      Payee Name
    .col-6
      = @appointment.payee.name
  .row
    .col-6
      Amount
    .col-6
      $
      = 0.7 * @appointment.price_cents
  .row
    .col-6
      Appointment name
    .col-6
      = @appointment.name



  = link_to "Confirm Payment", payouts_path({appointment_id: @appointment.id}), method: :post, class: 'btn btn-info'
