- if show_confirm_email
  .alert.alert-warning{:role  => "alert"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    = "We sent a confirmation email to #{current_user.display_email}."
    %strong
      = link_to "Resend Email Confirmation", resend_confirmation_user_path(current_user), style: "color: inherit"
    or
    %strong
      = link_to "Change Your Email", settings_account_path, style: "color: inherit"